<link rel="stylesheet" href="./css/home.css">
    <h1>welcome to the home</h1>

<section id="feedpost">
    <h4>Posts</h4>
    <% if(locals.user){%>
    <form action="/post/create" id="new-post-form" method="post">
        <textarea name="content" id="" cols="30" rows="3" placeholder="type here .."></textarea>
        <input type="submit" value="Post">
    </form>
    <%}%>
    <div>
        <!-- showing all the items of the dataset -->
    <% for(let i of post_list){%>
    <div class="posts">
       <p class="content-post">
           <ul>
            <p>new post</p>
          <% if(locals.user &&(locals.user.id == i.user.id)){%>
            <small>
                <a href="/post/destroy/<%= i.id%>">W</a>
            </small>
            <%}%>
            </small>
          <li><%=i.content%></li>
          <!-- <li><%=i.user.name%></li> 
          <li><%=i.user.email%></li> -->
          <li><%=i.createdAt%></li>
        </ul>
       </p>
       <div class="post-comments">
           <%if(locals.user){%>
            <form action="/comments/create" method="post" >
                <input type="text" name="content" placeholder="comment here..">
                <input type="hidden" name="post" value=<%=i._id%>>
                <input type="submit" value="Add Comment">
            </form>
            <%}%>
            <div class="post-comments-list">
                <ul id="post-comments-<%= i._id%>">
                    <% for(comment of i.comments){%>
                    <p>
                        <%= comment.content%>
                        <br>
                        <small>
                            <%= comment.user.name%>
                        </small>
                    </p>
                        <%}%>
                </ul>
            </div>
        </div>
           
       
       
        <%}%>
    </div>

</section>
<!--  create controller and action for this form and mark the user -->